body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.quote_wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 88vh;
  overflow-y: hidden;
}
.quote_body{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  font-style: italic;
  color: aquamarine;
  background-color: #021114;
}
.quote_Card{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.quote_Card p{
  width: 500px;
  height: 200px;
  padding: 50px;
  margin: 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-items: center;
  background-color: rgb(34, 40, 41);
  border-top-right-radius: 42px;

}
 h1{
  color: rgb(4, 8, 7);
  font-size: 2.5rem;
  text-align: center;

}
.quote_body img{
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;

}

@media (min-width:300px){
  .quote_Card p{
    width: 300px;
    height: 200px;
    padding:0 15px;
    margin: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    border-radius: 42px;
  
  }
   h1{
    color: rgb(4, 8, 7);
    font-size: 2.5rem;
    text-align: center;
  
  }
  .quote_body img{
    border-radius: 12px;
    width: 150px;
  
  }
}
@media (min-width:475px){
  .quote_Card p{
    width: 200px;
    height: 300px;
    padding:0 15px;
    margin: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    border-radius: 0px;
  
  }
   h1{
    color: rgb(4, 8, 7);
    font-size: 2.5rem;
    text-align: center;
  
  }
  .quote_body img{
    border-radius:0px;
    width: 150px;
  
  }
}
@media (min-width:810px){
  .quote_Card p{
    width: 400px;
    height: 250px;
    padding: 25px;
    margin: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    border-top-right-radius: 42px;
  }
   h1{
    color: rgb(4, 8, 7);
    font-size: 2.5rem;
    text-align: center;
  
  }
  .quote_body img{
    border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  width: 200px;
  }
}
@media (min-width:1024px){
  .quote_Card p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: rgb(34, 40, 41);
    border-top-right-radius: 42px;
    height: 206px;
margin: 1px;
padding: 47px;
width: 250px;
  
  }
   h1{
    color: rgb(4, 8, 7);
    font-size: 2.5rem;
    text-align: center;
  
  }
  .quote_body img{
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    width: 200px;
  }
}
@media (min-width:1280px){
  .quote_Card p{
    width: 300px;
    height: 200px;
    padding: 50px;
    margin: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: rgb(34, 40, 41);
    border-top-right-radius: 42px;
  
  }
   h1{
    color: rgb(4, 8, 7);
    font-size: 2.5rem;
    text-align: center;
  
  }
  .quote_body img{
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    width: 200px;
  }
}

@media (min-width:1440px){
  .quote_Card p{
    width: 300px;
    height: 200px;
    padding: 50px;
    margin: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: rgb(34, 40, 41);
    border-top-right-radius: 42px;
  
  }
   h1{
    color: rgb(4, 8, 7);
    font-size: 2.5rem;
    text-align: center;
  
  }
  .quote_body img{
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    width: 200px;
  }
}